<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.tracker.tracker.tasklog.dao.TaskLogDAO">

    <insert id="insertTaskLog" parameterType="com.tracker.tracker.tasklog.vo.TaskLogVO">
        INSERT INTO TASK_LOG (
        LOG_ID,
        TASK_ID,
        USER_ID,
        ACTION_TYPE,
        BEFORE_STATUS,
        AFTER_STATUS,
        CREATED_DATE
        ) VALUES (
        SEQ_TASK_LOG.NEXTVAL,
        #{taskId},
        #{userId},
        #{actionType},
        #{beforeStatus, jdbcType=VARCHAR},
        #{afterStatus, jdbcType=VARCHAR},
        SYSDATE
        )
    </insert>

    <select id="selectTaskLogsByTaskId"
            parameterType="long"
            resultType="com.tracker.tracker.tasklog.vo.TaskLogVO">
        SELECT
        LOG_ID        AS logId,
        TASK_ID       AS taskId,
        USER_ID       AS userId,
        ACTION_TYPE   AS actionType,
        BEFORE_STATUS AS beforeStatus,
        AFTER_STATUS  AS afterStatus,
        CREATED_DATE  AS createdDate
        FROM TASK_LOG
        WHERE TASK_ID = #{taskId}
        ORDER BY CREATED_DATE DESC
    </select>

    <!-- 더미데이터 자동 삭제 메서드 -->
    <delete id="deleteTaskLogsByTaskIds">
        DELETE FROM TASK_LOG
        WHERE TASK_ID IN
        <foreach item="taskId" collection="taskIds" open="(" separator="," close=")">
            #{taskId}
        </foreach>
    </delete>

    <select id="selectRecentActivities"
            resultType="com.tracker.tracker.tasklog.vo.TaskLogVO">
        <![CDATA[
    SELECT

        L.LOG_ID        AS logId,
        L.USER_ID       AS userId,
        L.TASK_ID       AS taskId,
        T.TASK_TITLE    AS taskTitle,
        L.ACTION_TYPE   AS actionType,
        L.BEFORE_STATUS AS beforeStatus,
        L.AFTER_STATUS  AS afterStatus,
        L.CREATED_DATE  AS createdDate
    FROM TASK_LOG L
    JOIN TASK T
      ON T.TASK_ID = L.TASK_ID
    WHERE L.USER_ID = #{userId}
    ORDER BY L.CREATED_DATE DESC
    FETCH FIRST #{limit} ROWS ONLY
    ]]>
    </select>


</mapper>